.idea
*.pyc
*.gz


wandb

pipe_transformer/freeze/data

data/cifar10
data/cifar100
pipe_transformer/data/data/cifar10/*

examples/text_classification/output
examples/question_answering/output
examples/image_classification/output